{{ 'scroll-down-animation.css' | asset_url | stylesheet_tag }}

{% comment %} 下からの配置はデバイスによって変わるからTailwindを使用する {% endcomment %}
<div class='scroll-down bottom-[55px] md:bottom-5 '>
    <span class='scroll-text'>scroll</span>
</div>
