<!doctype html>
<html lang='ja'>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <title>{{ page_title }}</title>
        {{ content_for_header }}
        {% comment %} 以下はtailwindcss {% endcomment %}
        {{ 'tailwind.output.css' | asset_url | stylesheet_tag }}
    </head>

    <body>
        <header>
            <!-- ナビゲーションセクション -->
            {% section 'navigation' %}
        </header>
        <main id='main' role='main'>
            {{ content_for_layout }}
        </main>
    </body>
</html>
