{% comment %} ストア紹介セクション {% endcomment %}
<section class='flex flex-col items-center text-center py-8'>
    {% if section.settings.store_logo %}
        {% comment %} ストアのロゴを表示 {% endcomment %}
        <img
            src='{{ section.settings.store_logo | image_url }}'
            width=''
            height=''
            alt='{{ section.settings.store_name }}'
            class='mb-4 w-32 h-auto'
        >
    {% endif %}

    {% comment %} ストア名 {% endcomment %}
    <h1 class='text-2xl font-bold'>{{ section.settings.store_name }}</h1>

    {% comment %} ストア説明文 {% endcomment %}
    <p class='mt-2 text-lg text-gray-700 max-w-md'>
        {{ section.settings.store_small_intro }}
    </p>
</section>

{% schema %}
    {
        "name": "お店の紹介（トップページ用）",
        "settings": [
            {
                "type": "image_picker",
                "id": "store_logo",
                "label": "お店のロゴ"
            },
            {
                "type": "text",
                "id": "store_name",
                "label": "お店の名前",
                "default": "MOGU kyoto"
            },
            {
                "type": "textarea",
                "id": "store_small_intro",
                "label": "お店の紹介（短文）",
                "default": "丸太町で国産食材をテーマにした、自然派のケーキと焼き菓子に出会えるパティスリー"
            }
        ],
        "presets": [
            {
                "name": "Main Store Intro",
                "category": "トップページ"
            }
        ]
    }
{% endschema %}
