{% comment %} ストア紹介セクション {% endcomment %}
<section class='flex flex-col items-center text-center my-10 pb-5'>
    {% if section.settings.store_logo %}
        {{ section.settings.store_logo | image_url: width: null | image_tag: class: 'mb-4 w-32 h-auto m-3' }}
    {% endif %}

    {% comment %} ストア名 {% endcomment %}
    <h1 class='text-3xl font-bold my-4'>{{ section.settings.store_name }}</h1>

    {% comment %} ストア説明文 {% endcomment %}
    <p class='m-3 text-sm font-light text-gray-800'>
        {{ section.settings.store_small_intro }}
    </p>
    {% comment %} お店の紹介ページボタン {% endcomment %}
    <div class='mt-6 text-center'>
        <a
            href='/about'
            class='inline-block bg-pink-300 text-white text-xs font-normal py-3 px-6 border-2 border-white hover:border-pink-300 transition'
        >
            {{ section.settings.store_name }}について
        </a>
    </div>
</section>

{% schema %}
    {
        "name": "お店の紹介（トップページ用）",
        "settings": [
            {
                "type": "image_picker",
                "id": "store_logo",
                "label": "お店のロゴ"
            },
            {
                "type": "text",
                "id": "store_name",
                "label": "お店の名前",
                "default": "MOGU kyoto"
            },
            {
                "type": "textarea",
                "id": "store_small_intro",
                "label": "お店の紹介（短文）",
                "default": "丸太町で国産食材をテーマにした、自然派のケーキと焼き菓子に出会えるパティスリー"
            }
        ],
        "presets": [
            {
                "name": "Main Store Intro",
                "category": "トップページ"
            }
        ]
    }
{% endschema %}
