<h1 class="bg-amber300 text-3xl text-blue-300">This is the index liquid in templates folder!</h1>
{% render 'test' %} {%- assign mi_variable='Hola mundo!' -%} {{- mi_variable -}}

<h2 class="text-red-400">{{ mi_variable }}</h2>
<h1>{{ mi_variable }}</h1>
